beautifulsoup4==4.14.3
clr_loader==0.2.10
keyring==25.7.0
openpyxl==3.1.5
pillow==12.1.1
playwright==1.58.0
PyMuPDF==1.27.1
python-dotenv==1.2.2
pythonnet==3.0.5
pywebview==6.1
pyzbar==0.1.9
rapidocr-onnxruntime==1.2.3
requests==2.32.5
tenacity==9.1.4
